@using LMS.Shared.DTOs.Read

<div class="col-lg-6 col-mb-6 col-sm-12">
    <div class="card mb-4">
        <div class="card-header">
            <h5 class="mb-0">Selected Module</h5>
        </div>
        <div class="card-body">
            <p class="card-text"></p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th scope="row">Description</th>
                            <td>C# Language Basics</td>
                        </tr>
                        <tr>
                            <th scope="row">Start Date</th>
                            <td>2025-01-01</td>
                        </tr>
                        <tr>
                            <th scope="row">End Date</th>
                            <td>2025-01-02</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public CourseDto CourseData { get; set; } = new CourseDto();

}
