@using LMS.Shared.DTOs.Read

<div class="lexicon-primary d-flex flex-row home-padding mb-5 lexicon-rounded lexicon-home-box">
    <div class="lexicon-image-home-box">
        <img class="lexicon-image-home lexicon-rounded lexicon-image-home-reversed" src="Images/admin.png" />
    </div>
    <div class="home-card-info d-flex flex-column justify-content-between">
        <div>
            <div class="text-center">
                <h3 class="mb-0">ADMIN</h3>
            </div>
            <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure do...</p>
        </div>
        <div>
            <div class="d-flex align-items-center flex-column">
                <a href="admin" class="btn lexicon-button-tiny button-fontsize-tiny">
                    LÄS MER
                </a>
            </div>
        </div>
    </div>
</div>

@code {

}